.contenedor{
    border: solid 3px black;
    text-align: center;
}

#masculino{
    width: 23px;
    height: 23px;
}

#perfil{
    border: solid 1px black;
}
#correo1{
    width: 23px;
    height: 23px;
}