body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.ficha {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-info h2 {
    margin: 10px 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info h2 i {
    margin-right: 10px;
    color: #007BFF;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.user-form label {
    text-align: left;
    font-weight: bold;
}

.user-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-form button {
    padding: 10px;
    background-color: #a200ff56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-form button:hover {
    background-color: #a200ff;
}

.gender-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.gender-options input {
    display: none;
}

.gender-options label {
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.gender-options input:checked + label {
    color: #007BFF;
}
